{% load static i18n %}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Chitcom Website{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
	{% block css %}

	<link href="{% static 'css/project.min.css' %}" rel="stylesheet">

	{% endblock %}

</head>
<body>
	<div class="container-fluid">
		<div class="row header">
			<div class="col-md-auto col-sm-3 logo-chitweb col-lg-2 ">
				<a href="{% url 'home' %}">ChitWeb</a>
			</div>
			<div class="header-splitline align-self-center"></div>
			<div class="col-md-4 col-6 align-self-center display-switch">
        <!-- Todo: make header-menu-item-active depend on current page -->
				<a href="{% url 'home' %}" class="header-menu-item header-menu-item-active">Специалисты</a>
				<a href="{% url 'about' %}" class="header-menu-item">О нас</a>
			</div>
			<div class="header_burger">
				<span>
				</span>
			</div>
			<nav class="header__menu">
				<ul class="header__list">
					<li class="header__link">
						<a href="{% url 'home' %}">Специалисты</a>
					</li>
					<li class="header__link">
						<a href="{% url 'about' %}">О нас</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="row content">
			<div class="col-md-11 section">
        <!-- Todo: load this path dynamically -->
				ChitWeb -> Специалисты
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 aside">{% block contentHeader %}{% endblock contentHeader %}</div>
		</div>
    {% block content %}{% endblock content %}
		<div class="row">
			<div class="col-md-12 footer">Chitcom &copy; 2019</div>
		</div>
	</div>
	{% block modal %}{% endblock modal %}
    <!-- JS -->
    {% block javascript %}

      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->


      <!-- place project specific Javascript in this file -->

      <script src="{% static 'js/project.js' %}"></script>


    {% endblock javascript %}
</body>
</html>
