{% extends "base.html" %}
{% load static %}
{% block breadcrumbs %}
    {{ block.super }}/ <a style="color: white;" href="{% url 'home' %}">Cпециалисты</a>
{% endblock %}
{% block contentHeader %}Наши специалисты{% endblock contentHeader %}
{% block content %}
<div class="block-form">
    <form>
        <div class="row holder">
            <div class="col-md-auto col-lg-auto col-sm-auto col-11 block-form-Search">
                <label>Cпециализация</label>
                <select id="dropdownSpecialization">
                    <!-- JS-code is adding <option> to this dropdown with values from an API call-->
                </select>
            </div>
            <div class="col-md-auto col-sm-auto col-lg-auto col-11 block-form-Search left-indent">
                <label class="text-skils">Скилы </label>
                <input type="" name="" class="skils search-filter">
                <span>java</span>
                <span>android</span>
            </div>
            <div class="col-md-auto col-sm-auto col-11 align-self-center left-indent col-lg-auto">
                    <input type="submit" value="Отфильтровать" class="submit-form">
            </div>
        </div>
    </form>
</div>


<div id="specialistCards" class="row body-chitcom justify-content-center">
</div>


<div class="row justify-content-center">
    <div class="col-md-3 col-sm-12 col-lg-2 col-12 pagination">
        <span>Показать еще</span>
    </div>
</div>

<script src="{% static 'js/homeDropdownSpecialization.js' %}"></script>
<script src="{% static 'js/generateSpecialistCards.js' %}"></script>

{% endblock content %}
